.grid__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .img__grid {
    // flex-grow: 1; 
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 0.8rem;
    margin: 1rem;
    transition: 0.8s;
    .img__card {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      .pic, img {
        width: 100%;
        height: 100%;
        border-radius: 0.4em;
      }
      button{
        margin: 0.5em 0;
      }
    }
  }
}

@media screen and (min-width: 561px) {
  .img__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .img__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1020px) {
  .grid__container {
   display: flex;
   flex-direction: column;
   align-items: center;
    .img__grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
